<div class="container top-margin bottom-margin">
  <h6><%= link_to "Back to #{@trip.name}", trip_path(@trip), class: "purple-link" %></h6>

  <div class="top-margin bottom-margin-small">
    <h1><%= @journal_entry.title %></h1>
  </div>

  <hr class="my-4">

  <%= render 'new_form' %>
</div>
