<div class="container top-margin bottom-margin">

  <h1><%= @trip.name %></h1>
  <hr class="my-4">

  <%= render "new_form" %>
  <%= button_to "Delete Trip", delete_trip_path(@trip), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>

</div>
