<div class="bottom-margin">

  <div class="jumbotron welcome-banner">
      <div class="welcome-text">
        <h1>Welcome to Oyster</h1>
        <p>a travel diary</p>
      </div>
  </div>

  <div class="container">
    <div class="row border-between">

      <div class="login col-md-6">
        <% if flash[:notice] %>
          <div class="alert flash bottom-margin">
              <%= flash[:notice] %>
          </div>
        <% end %>

        <%= render 'sessions/login_form' %>
      </div>

      <div class="sign-up col-md-6">
        <% if @user.errors.any? %>
          <div class="alert flash">
            <% @user.errors.full_messages.each do |message| %>
              <%= message %>
              <br>
            <% end %>
          </div>
        <% end %>
        <%= render 'users/new_user_form' %>
      </div>

    </div>
  </div>

</div>
