<h1>Welcome to your home page, <%= @user.name %></h1>

<h2>Trips:</h2>
<% @trips.each do |trip| %>
  <%= link_to trip.name, trip_path(trip) %>
  <br>
<% end %>

<h2>Create Trip:</h2>
<%= render 'trips/new_form' %>
