
<div class="container top-margin">


  <h2>Create Trip:</h2>
  <%= render 'trips/new_form' %>

  <h2>Find a Trip:</h2>
  <%= render 'trips/search_form' %>

  <% if !@trips.empty? %>
    <h2>Trips:</h2>
    <% @trips.each do |trip| %>
      <%= link_to trip.name, trip_path(trip) %>

      <% if !trip.photos.empty? %>
        <% trip.photos.sample(3).each do |photo| %>
          <%= image_tag photo.image.thumb.url %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>
